body{
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

#gridcon{
	display: none;
	grid-template-rows: 1/3 1/3 1/3;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-areas: 
		"tl tml tm tmr tr"
		"ml mml mm mmr mr"
		"bl bml bm bmr br";
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}


#framecon {
	background-image: url("img/uhh.png");
	background-size: contain;
	position: fixed;
	width: 12.6vw;
	height: 17vw;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-50%);
	z-index: 5;
}


.speech-bubble {
	position: relative;
	background: #EDF6FB;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #EDF6FB;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.griditem{
	opacity: 0;
	z-index: -1;
	width: 20vw;
	height: 33vh;
}

.greeting{
	font-family: 'PT Sans', sans-serif;
	position: fixed;
	font-size: 1.5vw;
	width: 20vw;
	height: 10vw;
	left: 70%;
	top: 20%;
	z-index: 300;
	transform: translate(-50%,-50%);
	padding: 20px;
	display: flex;
	align-items: center;	
	color: #521BC3;
}

#tamtalk{
	display: none;
	height: 13vw;
}

#roomtalk{
	display: none;
}

#soctalk{
	display: none;
	height: 2.5vw;
}

#dentalk{
	display: none;
	height: 15vw;
	font-size: 1.25vw;
}

#sdtalk{
	display: none;
	height: 12vw;
	font-size: 1.4vw;
}

#berktalk{
	display: none;
	height: 12vw;
}

#namecon{
	position: relative;
	width: 100vw;
	height: 70vh;
	background-color: #521BC3;
	z-index: 6;
	font-size: 1vw;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span { 
	background: #EDF6FB !important; 

}

#filler{
	position: relative;
	width: 100vw;
	height:30vh;
	z-index:500;
	background-color: #EDF6FB;
}

#firfiller{
	position: relative;
	width: 98.88vw;
	height:50vh;
	background-color: #EDF6FB;
}

#tam{
	position: absolute;
	width: 14.8vw;
	height: 6.42vw;
	left: 30%;
	bottom: -.2%;
	z-index: -200;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("img/tam.svg");
	transition: .5s;
}
.soc:hover{
	cursor: pointer;

}

#fb{
	position: absolute;
	width: 4.86vw;
	height: 4.2vw;
	left: -.2%;
	top: 40%;
	z-index: -200;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("img/fb.svg");
	transition: .3s;
}

#linkedin{
	position: absolute;
	width: 4.86vw;
	height: 4.2vw;
	left: -.2%;
	top: 10%;
	z-index: -200;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("img/linkedin.svg");
	transition: .3s;
}

#insta{
	position: absolute;
	width: 4.86vw;
	height: 4.2vw;
	left: -.2%;
	top: 25%;
	z-index: -200;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("img/insta.svg");
	transition: .5s;
}


#den{
	position: absolute;
	width: 15vw;
	height: 8vw;
	left: 48%;
	bottom: -1.7%;
	z-index: -200;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("img/den.svg");
	transition: .5s;
	
}

#sd{
	position: absolute;
	width: 12.29vw;
	height: 8.5vw;
	left: 66%;
	bottom: -.2%;
	z-index: -200;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("img/sd.svg");
	transition: .5s;

}

#berk{
	position: absolute;
	width: 14vw;
	height: 12.61vw;
	left: 82%;
	bottom: -.1%;
	z-index: -200;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("img/berk.svg");
	transition: .5s;
	
}

#name {
	position: absolute;
	width: 25vw;
	height: 3.02vw;
	left: 1.5%;
	bottom: -.2%;
	z-index: -200;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-size: contain;
	background-image: url("img/namex.svg");
	transition: .2s;

}

#name:hover{
	cursor: pointer;
}

#content1 {
	background-color: #521BC3;
	font-size: 700%;
	height: 50vw;
	width: 100vw;
	z-index: 0;
	position: relative;
	background-size: fill;
}


#room{
	position: absolute;
	display: none;
	width: 59.2vw;
	height: 40vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -200;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url("img/room.svg");
	transition: .5s;

}

#shoe{
	position: absolute;
	width: 4.45vw;
	height: 5vw;
	left: 60%;
	bottom: 5%;
	z-index: 200;
	background-image: url("img/shoe.png");
	background-size: contain;
	transition: .5s;

}

#book{
	position: absolute;
	width: 5.3vw;
	height: 1.75vw;
	left: 50%;
	bottom: 50%;
	z-index: 200;
	background-image: url("img/book.png");
	background-size: contain;
	transition: .5s;

}

#razer{
	position: absolute;
	width: 7vw;
	height: 4.72vw;
	left: 34%;
	bottom: 47%;
	z-index: 200;
	background-image: url("img/razer.png");
	background-size: contain;
	transition: .5s;

}

#skate{
	position: absolute;
	width: 5.2vw;
	height: 12vw;
	left: 70%;
	bottom: 25%;
	z-index: 200;
	background-image: url("img/skate-1.png");
	background-size: contain;
	transition: .5s;

}

#ts{
	position: absolute;
	width: 4.8vw;
	height: 11vw;
	left: 17%;
	bottom: 58%;
	z-index: 200;
	background-image: url("img/ts.png");
	background-size: contain;
	transition: .5s;

}

#pulp{
	position: absolute;
	width: 6.6vw;
	height: 9vw;
	left: 30%;
	bottom: 65%;
	z-index: 200;
	background-image: url("img/pulp.png");
	background-size: contain;
	transition: .5s;

}

#lamp{
	position: absolute;
	width: 5.6vw;
	height: 7vw;
	left: 25%;
	bottom: 49%;
	z-index: 200;
	background-image: url("img/lamp.png");
	background-size: contain;
	transition: .5s;

}

#window{
	position: absolute;
	width: 20vw;
	height: 13.8vw;
	left: 45%;
	bottom: 55%;
	z-index: 200;
	background-image: url("img/window.png");
	background-size: contain;
	transition: .5s;

}

#ball{
	position: absolute;
	width: 5vw;
	height:5vw;
	left: 23%;
	bottom: 5%;
	z-index: 200;
	background-image: url("img/ball.png");
	background-size: contain;
	transition: .5s;
}

#pulptalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: -23%;
	bottom: 50%;
	z-index: 200;
	background-image: url("img/pulptalk.png");
	background-size: contain;
}

#tstalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: 27%;
	bottom: 50%;
	z-index: 200;
	background-image: url("img/tstalk.png");
	background-size: contain;
}

#lamptalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: -27%;
	bottom: 40%;
	z-index: 200;
	background-image: url("img/lamptalk.png");
	background-size: contain;
}

#booktalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: 30%;
	bottom: 58%;
	z-index: 200;
	background-image: url("img/booktalk.png");
	background-size: contain;
}

#shoetalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: 40%;
	bottom: 20%;
	z-index: 200;
	background-image: url("img/shoetalk.png");
	background-size: contain;
}

#balltalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: -10%;
	bottom: 20%;
	z-index: 200;
	background-image: url("img/balltalk.png");
	background-size: contain;
}

#razertalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: 0%;
	bottom: 60%;
	z-index: 200;
	background-image: url("img/razertalk.png");
	background-size: contain;
}

#skatetalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: 50%;
	bottom: 58%;
	z-index: 200;
	background-image: url("img/skatetalk.png");
	background-size: contain;
}

#windowtalk{
	display: none;
	position: absolute;
	width: 30vw;
	height:18vw;
	left: -7%;
	bottom: 58%;
	z-index: 200;
	background-image: url("img/windowtalk.png");
	background-size: contain;
}










#content2 {
	background-color: #EDF6FB;
	font-family: Poppins;
	font-size: 2vw;
	height: 50vw;
	width: 100vw;
	z-index: 0;
	position: relative;
	background-size: fill;
}

#search{
	position: absolute;
	font-family: Poppins;
	color: #521BC3;
	font-size: 1.5vw;
	border-radius: .4vw;
	height: 3vw;
	width: 30vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 0px solid;
    padding: 10px;
    box-shadow: 3px 3px 3px #888888;
}

.shadow{
	border: 0px solid;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

#search:focus{
	outline-width: 0px;
}

#explanation{
	color: #521BC3;
	position: absolute;
	width: 60vw;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
}

.seclink{
	color: #521BC3;
	position: absolute;
	top: 26%;
	
}

.seclink:hover{
	cursor: pointer;
	color: #b942f4;
}

#ed{
	left: 20%;
}

#sk{
	left: 32%;
}

#ex{
	left: 38.5%;
}

#pr{
	left: 52%;
}

#resume{
	color:#2f6fd6;
	position: absolute;
	left: 39.5%;
	top: 37%;
	transform: translate(-50%, -50%);
}

#resume:hover{
	cursor: pointer;
}

#box{
	background-color:  #521BC3;
	position: absolute;
	width: 3vw;
	border-radius: 2vw;
	height: 7vw;
	left: 97.8%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.pagepart{
	width: 100vw;
	background-color:  #521BC3;
	height: 100vh;
	z-index:2000;
	left: 100%;
	top: 0%;
	position: absolute;
	transition: 1s;
}

.back{
	background-color: #EDF6FB;
	font-family: Poppins;
	font-size: 2vw;
	color: #521BC3;
	position: absolute;
	left: 7%;
	top: 15%;
	height: 8vw;
	opacity: .8;
	width: 8vw;
	border-radius: 8vw;
}

.back:focus{
	outline-width: 0;
}
.back:hover{

	cursor: pointer;
	opacity: 1;
}

#lans{
	position: absolute;
	width: 45vw;
	height:12vw;
	left: 30%;
	top: 25%;
	z-index: 200;
	background-image: url("img/languages.png");
	background-size: contain;
}

#other{
	position: absolute;
	width: 45vw;
	height:12vw;
	left: 30%;
	top: 60%;
	z-index: 200;
	background-image: url("img/other.png");
	background-size: contain;
}

#lanstalk{
	position: absolute;
	color: #EDF6FB;
	font-family: Poppins;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
}

#othertalk{
	position: absolute;
	color: #EDF6FB;
	font-family: Poppins;
	left: 52%;
	top: 55%;
	transform: translateX(-50%);
}

#sorr{
	position: absolute;
	border-color: #EDF6FB;
	border-style: solid;
	border-width: .8vw;
	width: 34vw;
	height:20vw;
	left: 55%;
	top: 3%;
	z-index: 200;
	background-image: url("img/sorrento.png");
	background-size: contain;
	transform: translateX(-50%);
}

#exptalk{
	position: absolute;
	width: 60%;
	color: #EDF6FB;
	font-size: 1.8vw;
	font-family: Poppins;
	left: 55%;
	top: 53%;
	transform: translateX(-50%);
}

.icon{
	position: absolute;
	width: 11vw;
	height:11vw;
	z-index: 200;
	background-size: contain;
	transform: translateX(-50%);
}

#cal{
	left: 24%;
	top:10%;
	background-image: url("img/cal.png");
}

#cal:hover{
	cursor: pointer;
}

#karaoke{
	left: 24%;
	width:10vw;
	height: 10vw;
	top:40%;
	background-image: url("img/karaoke.png");
}

#quake{
	left: 24%;
	width: 8.78vw;
	top:70%;
	background-image: url("img/quake.png");
}

.ptalk{
	position: absolute;
	width: 60%;
	left: 35%;
	color: #EDF6FB;
	font-size: 1.5vw;
	font-family: Poppins;
}

#caltalk{
	top: 12%;
}

#karaoketalk{
	top: 42%;
}

#quaketalk{
	top: 72%;
}

#edutalk{
	position: absolute;
	width: 30%;
	left: 75%;
	top: 50%;
	color: #EDF6FB;
	font-size: 1.5vw;
	font-family: Poppins;
	transform: translate(-50%, -50%);
}

#squi{
	position: absolute;
	border-color: #EDF6FB;
	border-style: solid;
	border-width: .8vw;
	width: 25vw;
	height:34vw;
	left: 38%;
	top: 50%;
	z-index: 200;
	background-image: url("img/squi.jpg");
	background-size: contain;
	transform: translate(-50%, -50%);
}